* {
    margin: 0;
}

body {
    background: url(../img/fondo-mosaico.avif);
    backdrop-filter: brightness(60%);
    background-attachment: fixed;
}

/* panel de entrada */

#margen_superior {
    height: 7px;
    width: 100%;
}

#panel_inicial {
    display: flex;
    width: 100%;
    height: 300px;
    /* imagen */
    background: url(../img/lambo_negro_frente_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* borde */
    margin-bottom: 3px;
    border-top: 3px black solid; 
    border-bottom: 3px black solid;
    position: absolute;
    z-index: 1;
}

#posicion_txt_panel {
    display: block;
    background: none;
    position: relative;
    top: 10%;     left: 14%;
}

#img_panel {
    display: flex;
    max-width: 50%;
}

#comentario_titulo_blanco {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    text-shadow: 2px 4px 10px red;
    -webkit-text-stroke: 1px black;
}

#comentario_titulo_rojo {
    color: red;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    text-shadow: 2px 4px 10px red;
    -webkit-text-stroke: 0.8px black;
}

#contenedor_hrz {
    margin: auto;
    max-width: 70%;
    align-items: center;
    justify-content: center;
    border: 2px rgb(218, 0, 0) solid;
    background: rgb(56, 0, 0);
    position: relative;
    z-index: 2;
    top: 250px;
}

/* footer */

#espacio_footer {
    width: 100%;
    height: 480px;
}

footer {   
    display: flex; 
    position: fixed;
    background: rgb(56, 0, 0);
    color: white;
    width: 100%;
    height: 200px;
    bottom: 0;
    margin-top: 1400px;
    border-top: 2px rgb(218, 0, 0) solid;
    justify-content: center;
    align-items: center;
}