* {
    margin: 0;
    background-attachment: scroll;
    background-repeat: repeat;
}

body {
    background: url(../img/fondo-mosaico.avif);
    backdrop-filter: brightness(60%);
}

/* panel de entrada */

#margen_superior {
    height: 3px;
}

#panel_inicial {
    display: flex;
    width: 100%;
    height: 300px;
    /* imagen */
    background: url(../img/lambo_negro_frente_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* borde */
    margin-bottom: 3px;
    border-top: 2px solid; border-bottom: 2px solid;
    border-color: black;
}

#posicion_txt_panel {
    display: block;
    background: none;
    position: relative;
    top: 20%;     left: 20%;
}

#titulo_1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Yellowtail', cursive;
    color: white;
    font-size: 70px;
}

/* filtros y seccion */

#filtro_vehiculos {
    list-style: circle;
    display: felx;
}

div div ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

div div ul li {
    background: red;
    padding: 7px;
}

#contenedor_hrz {
    margin: auto;
    max-width: 70%;
    align-items: center;
    border: 2px solid rgb(112, 0, 0);
    background: rgb(218, 0, 0);
}

#caja_filtro {
    display: flex;
    margin: auto;
    max-width: 70%;
    justify-content: right;
}

/* contenedor de los vehiculos */
#vista_previa {
    display: flex;
}

.panel_vehiculos {
    display: block;
    margin: 5px;
    background: white;
}